
@model List<CourseViewModel>

<script type="text/javascript">
            $(document).ready(function()    {
                // eventuale codice javascript
            });
</script>


<h1>@ViewData["Title"]</h1>

<div class = "row">
<div class="col-md-5"></div>

<div class="dropdown col-md-3">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ordina per ...
    <span class="badge bg-warning" id="order-badge" style="color:black;">@Model[0].order</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" asp-action="Index" asp-route-order="pop">Popolarità</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-action="Index" asp-route-order="pincr">Prezzo Crescente</a>
    <a class="dropdown-item" asp-action="Index" asp-route-order="pdec">Prezzo Decrescente</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-action="Index" asp-route-order="alf">Ordine Alfabetico</a>
    <a class="dropdown-item" asp-action="Index" asp-route-order="aut">Autore</a>
  </div>
</div>


</div><!-- end of row class -->


@foreach(CourseViewModel course in Model)
{
<hr>
<div class="row">
    <div class="col-md-1">
        <img src="@course.ImagePath" width="50">
    </div>
    <div class="col-md-5">
        <h2 class="titolo">@course.Title</h2>
        <author>di @course.Author</author>
    </div>
    <div class="col-md-2 rating" title="@course.Rating">
        
        @for (int i = 1; i <= 5; i++)
        {
            if (course.Rating >= i)
                {
                    <i class="fas fa-star"></i> 
                }
            else if (course.Rating > i - 1)
                {
                    <i class="fas fa-star-half-alt"></i> 
                }
            else
                {
                    <i class="far fa-star"></i> 
                }

        }

    </div>
    <div class="col-md-2">
        <div class="final-price">
            @course.CurrentPrice
        </div>
        @if(!course.CurrentPrice.Equals(course.FullPrice))
        {
        <div class="initial-price">
            <s>@course.FullPrice</s> 
        </div>
        }
    </div>
    <div class="col-md-2">
    <a class="btn btn-outline-primary"
    asp-action="Detail" asp-route-id="@course.Id">Dettagli</a>

    </div>
</div>
<br/>

}

